.card-create-page {
    width: 100;
}

.selection {
    position: absolute;
    top: 10vh;
    left: 260px;
    display: flex;
    flex-direction: row;
}

.selection select {
    margin-bottom: 10px;
    width: 150px;
}

.dropDown {
    padding: 10px 0px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 16px;
}