header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #0D79A1;
    place-items: top;
}

.Navigation_Control a {
    padding: 10px;
    position: relative;
    color: white;
    transition: background-color 0.3s;
}

.Navigation_Control a::before {
    content: '';
    position: absolute;
    top: -10%; /* Adjustment for the box to appear */
    left: 15%;
    width: 70%;
    height: 10%;
    background-color: transparent;
    transition: background-color 0.3s;
}

.Navigation_Control a:hover::before {
    background-color: #999;
}