#root {
    width: 100vw;
    height: 88vh;
}

.landingPage {
    display: flex;
    flex-direction: column;
    height: 100%;
} 

.landingBody {
    display: flex;
    flex-direction: column;
    height: 100%;
} 

.landingMiddle {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.landingMiddle img {
    width: 35%;
}

.middleText {
    background-color: #82DEFF;
    color: black;
}

.middleText h3,
.middleText p {
    margin: 30px 80px 0px 50px;
    text-align: left;
}
.middleText h3 {
    font-size: xx-large;
}

.landingBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.landingBottom > div {
    flex: 1;
    margin: 0 10px;
}