/* highlight-custom.css */
.hljs {
  /* background: #050505; */
  background: transparent;
  /* Dark background */
  color: #abb2bf;
  /* Light text color */
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #c678dd;
  /* Purple */
}

.hljs-string {
  color: #98c379;
  /* Green */
}

.hljs-function {
  color: #61afef;
  /* Blue */
}