.sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    position: fixed;
    top: 64px;
    left: -200px;
    bottom: 0;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-200px);
}
  
.sidebarButton {
    position: fixed;
    margin-left: 5px;
    top: 50%;
}

.sidebar.open {
    transform: translateX(200px);
}


.Folders li {
    color: black;
    text-align: left;
}

.Folders ul {
    padding-left: 20px;
}

.Folders ul ul {
    /* Adding space between each buttet*/
    padding-left: 20px;
}
  