.flashCard {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.7s ease-in-out;
}
  
.flip {
    transform: rotateY(180deg);
}
  
.flashCardBack {
    transform: rotateY(180deg);
}