@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #242424 inset;
        box-shadow: 0 0 0 1000px #242424 inset;
        -webkit-text-fill-color: white;
    }
}

html.theme-pending {
    visibility: hidden;
}

/* :root {
    color-scheme: light dark;
} */